// Variable overrides

$theme-colors: (
  "primary": rgb(226, 0 , 116)
);

// $navbar-color: rgb(226, 0 , 116);
$navbar-brand-minimized-bg: rgb(226, 0 , 116);
$navbar-bg: rgb(226, 0 , 116);
$navbar-border: rgb(226, 0 , 116);
$navbar-color: rgb(243, 193, 193);
$navbar-hover-color : white;
$navbar-active-color: white;