<div class="animated fadeIn">
  <div class="row">
    <h1 align="center" style="margin: 3.5em auto 0.7em auto;" class="text-magenta">
      <b>Welcome</b>
    </h1>
  </div>
  <div class="row">
    <h3 align="center" style="margin: 0.7em auto 2em auto;">
      <b> <span class="text-magenta">S</span>uite of <span class="text-magenta">I</span>nternal <span class="text-magenta">G</span>overnance and <span class="text-magenta">M</span>anagement <span class="text-magenta">A</span>pplications</b>
    </h3>
  </div>
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-magenta">

        <div class="chart-wrapper mt-3 mx-3" style="height:140px;">
          <h2 align="center" style="margin: 0.5em auto">Falcon</h2>
          <h6 align="center" style="margin: 0.1em auto">Tech Debt Repository</h6>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-magenta">

        <div class="chart-wrapper mt-3 mx-3" style="height:140px;">
          <h2 align="center" style="margin: 0.5em auto">Ortus</h2>
          <h6 align="center" style="margin: 0.1em auto">High Level Solution Design Tool</h6>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-magenta">

        <div class="chart-wrapper mt-3" style="height:140px;">
          <h2 align="center" style="margin: 0.5em auto">Falcon</h2>
          <h6 align="center" style="margin: 0.1em auto">Non Functional Requirement Library</h6>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-magenta">

        <div class="chart-wrapper mt-3 mx-3" style="height:140px;">
          <h2 align="center" style="margin: 0.5em auto">Veritas</h2>
          <h6 align="center" style="margin: 0.1em auto">Design Review Tool</h6>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>