<div class="animated fadeIn">
  <div class="row">
      <h1 align="center" style="margin: 2em auto">
          Welcome
      </h1>
  </div>
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-magenta">

        <div class="chart-wrapper mt-3 mx-3" style="height:140px;">

        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-magenta">

        <div class="chart-wrapper mt-3 mx-3" style="height:140px;">

        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-magenta">

        <div class="chart-wrapper mt-3" style="height:140px;">

        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-magenta">

        <div class="chart-wrapper mt-3 mx-3" style="height:140px;">

        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>