@import 'bootstrap/dist/css/bootstrap.min.css';

.bg-magenta{
    background-color: rgb(226, 0 , 116)
}


.text-magenta{
    color: rgb(226, 0 , 116)
}

.app-box{
    height: 140px;
    cursor: pointer;
}

.bg-magenta:hover{
    background-color: rgb(317, 0 , 116)
}